.password_forget {
  height: 560px;
  font-family: Comic Sans MS;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  padding:0 2em;
  border-radius: 30px;
  box-shadow: 0px 2px 7px rgba(255,255,255,0.5);
  overflow: hidden;
  color: white;
  background: rgba(128,128,128,0.5);
  display: grid;
}

.password_head {
  opacity: 0.8;
}

.password_details {
  color: #FF0000;
  padding: 6%;
  border-radius: 20%;
  margin-top: 7%;
  font-family: Comic Sans MS;
  line-height: 150%;
  justify-content: space-around;
}

.password_email {
  padding-bottom: 2%;
  border: none;
  border-radius: 10px;
  background-color:rgba(128,128,128,0.5);
  justify-content: space-around;
  margin-bottom: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.password_hint {
  opacity: 0.7;
}
