/* This is the signup page styling  */
/* styling taken from https://github.com/ui-code-tv/login-register-app/blob/master/src/App.css */
.sign_up {
  height: 560px;
  font-family: Comic Sans MS;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  padding:0 2em;
  border-radius: 30px;
  box-shadow: 0px 2px 7px rgba(255,255,255,0.5);
  overflow: hidden;
  color: white;
  background: rgba(128,128,128,0.5);
  display: grid;
  /* background: linear-gradient(180deg, rgba(19,38,79,1) 0%, rgba(22,147,198,1)
  52%, rgba(255,255,255,0) 82%); */

}

/* This is tthe styling for the signup button on the signup page */
.sign_up_button {
  margin-top: 30px;
}

/* Changes the style of the text fields */
.text_field {
  padding-bottom: 2%;
  border: none;
  color: white;
  border-radius: 10px;
  background-color:rgba(128,128,128,0.5);
  justify-content: space-around;
  box-shadow: 0px 2px 7px rgba(255,255,255,0.5);
}
